* {
  box-sizing: border-box;
}

.projects-container {
  background-color: gainsboro;
}

.create-project, .create-task {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#create-project-button, #create-task-button {
  margin-top: 10px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  height: 100px;
}

.tasks {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.task-card {
  display:flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 10px;
  width: 400px;
  padding: 5px 10px 10px;
}

.delete-button {
  flex-grow: 0;
  align-self: flex-end;
}